<h1><%= @ingredient.name %></h1>

<%= link_to "Edit ingredient", edit_ingredient_path(@ingredient) %>

<%= link_to "Delete ingredient",
            ingredient_path(@ingredient),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>